body{
    /* background-color: #c2dde6; */
    background-color: lightcyan
}
.appname {
    color: greenyellow;
    background-color: red;
}

.dropdown-menu {
    margin-right: -80px;
}

td {
    border: 1px solid black;
    margin: 20px;
    padding: 5px;    
}

.img-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0px;
    padding: 0px;    
  }

.img-thumbnail {
  padding: 0px;
  margin: -1px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 20px;
  }


.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

