{% include 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load bootstrap3 %}
{% block content %} 

<div class="jumbotron container ">
  <h1 class="output">SocialApp</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary" id="changeGreen" href="#" role="button">Green</a>
    <a class="output btn btn-primary" id="changeRed" href="#" role="button">Red</a>
  </p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
</div>

  <!-- Modal -->

  <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div> 


<div class='container'>
  <p>Weather Data: </p>
  <div class="container">
    <table>
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Citi</td>
          <td>{{ geodata.name}}</td>
        </tr>
        <tr>
          <td>
            Temp
            <i class="fa fa-thermometer text-success"></i>
          </td>
          <td>
            {{ geodata.main.temp|sub:273|floatformat:"0"  }} Celsius
            
          </td>
        </tr>
        </tbody>
    </table>   
  </div>
</div> -->

<div class="container">
  <h3 class='d-block  mt-2 p-3'>Users</h3>
  <div class="row"></div>
  {% for user in users %}
    <div class="col-md-2"> 
      {% include "_user.html" %}    
      <!-- <p>{{ user.email }}</p> -->
    </div>
  {% endfor %}
  </div>
</div>


<div class="container">
  <h2>Search Users</h2>
  <h3 class='d-block  mt-2 p-3'>Users</h3>
  <div class="row"></div>
  {% for user in seachUsers %}
    <div class="col-md-2"> 
      {% include "_user.html" %}    
      <!-- <p>{{ user.email }}</p> -->
    </div>
  {% endfor %}
  </div>
</div>



<div class='container container-fluid'>
  <div class='row'>
    <div class="col-md-3">
      <h3 class='d-block mt-2 p-3'>Groups: </h3>
      {% for group in groups %}
        <a class="card list-group-item" href="{% url 'groups:single' slug=group.slug %}">
            <h4 class="title list-group-item-heading">{{ group.name }}:</h4>        
          {{ group.description_html|safe }}
          <div class="list-group-item-text">
            Member{{ group.member.count|pluralize }} <span class="badge">{{ group.member.count }}</span> 
            Post{{ group.posts.count|pluralize }} <span class="badge">{{ group.posts.count }}</span>
        </div>
      </a>
      {% endfor %}
    </div>
    <div class="col-md-7">
      <h3 class="d-block p-3 mt-2">Latest Posts </h3>
      
      {% for post in posts %}
        <div class="col-md-6"> 
            {% include "posts/_post.html" %}
        </div>
      {% endfor %}  
      <h4><a class="m-4 p-3" href="{% url 'posts:all' %}">All Posts...</a></h4>
    </div>
    


    
  </div>
</div>


 

{% endblock %}  

<script src="{% static 'socialapp/js/master.js' %}" type="text/javascript" ></script>