{% include 'base.html' %}
{% load static %}
{% block content %}
    <h1>Successfully logged into test URL</h1>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="row">
                    <a href="#" class="col-md-6 img-container">
                        <img src="{% static '/img/db.jpg' %}" alt="..." class="img-thumbnail">
                        <div class="bottom-right">Database Ops</div>
                    </a>
                    <a href="#"  class="col-md-6 img-container">
                        <img src="{% static '/img/eng.jpg' %}" alt="..." class="img-thumbnail">
                        <div class="bottom-right">Database Ops</div>
                    </a>
                    <a href="#" class="col-md-8 img-container">
                        <img src="{% static '/img/maint.jpg' %}" alt="..." class="img-thumbnail">
                        <div class="bottom-right">Database Ops</div>
                    </a>
                    <a href="#" class="col-md-4">
                        <div class="row">
                            <div class="col-md-12 img-container">
                                <img src="{% static '/img/ops.jpg' %}" alt="..." class="img-thumbnail">
                                <div class="bottom-right">Database Ops</div>
                            </div>
                            <div class="col-md-12 img-container">
                                <img src="{% static '/img/db.jpg' %}" alt="..." class="img-thumbnail">
                                <div class="bottom-right">Database Ops</div>
                            </div>
                        </div>  
                    </a>
                    <a href="#" class="col-md-6 img-container">
                        <img src="{% static '/img/eng.jpg' %}" alt="..." class="img-thumbnail">
                        <div class="bottom-right">Database Ops</div>
                    </a>
                    <a href="#" class="col-md-6 img-container">
                        <img src="{% static '/img/eng.jpg' %}" alt="..." class="img-thumbnail">
                        <div class="bottom-right">Database Ops</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <br> -->


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="row">
                    <a href="#" class="col-md-6 img-container ">                        
                        <div class="card text-white bg-info" style="width: 20rem;">
                            <div class="card-body">
                              <h5 class="card-title text-capitalize text-warning  font-weight-bold">Database</h5>                              
                              <h5 class="card-title text-capitalize">text</h5> 
                            </div>
                        </div>  
                    </a>
                    <a href="#" class="col-md-6 img-container">                        
                        <div class="card text-white bg-info" style="width: 20rem;">
                            <div class="card-body">
                              <h5 class="card-title text-capitalize text-warning  font-weight-bold">Database</h5>  
                              <h5 class="card-title text-capitalize ">text</h5>                             
                            </div>
                        </div>  
                    </a>   
                    <a href="#" class="col-md-8 img-container ">                        
                        <div class="card text-white bg-info" style="width: 30rem;">
                            <div class="card-body">
                              <h5 class="card-title text-capitalize text-warning  font-weight-bold">Database</h5>                              
                              <h5 class="card-title text-capitalize ">text</h5> 
                            </div>
                        </div>  
                    </a>
                    <div class="col-md-4">
                        <div class="row">
                            <a href="#" class="col-md-12 img-container">                        
                                <div class="card text-white bg-info" style="width: 10rem;">
                                    <div class="card-body">
                                    <h5 class="card-title text-capitalize text-warning  font-weight-bold">Database</h5>  
                                    <h5 class="card-title text-capitalize ">text</h5>                             
                                    </div>
                                </div>  
                            </a> 
                            <a href="#" class="col-md-12 img-container">                        
                                <div class="card text-white bg-info" style="width: 10rem;">
                                    <div class="card-body">
                                    <h5 class="card-title text-capitalize text-warning  font-weight-bold">Database</h5>  
                                    <h5 class="card-title text-capitalize">text</h5>                             
                                    </div>
                                </div>  
                            </a> 
                        </div>
                    </div>
                                     
                </div>
            </div>
        </div>
    </div>

    <br>



    <script type="text/javascript" src="{% static 'socialapp/js/master.js' %}"></script>

{% endblock %}